@import url(../fonts/Open_Sans/OpenSans.css);
body {
  margin: 0;
  padding: 0;
  background: #efefef;
  overflow-x: hidden; }
  body.osx {
    font-family: 'Lucida Grande', sans-serif; }

.appleHeader {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 20px 0;
  border-bottom: 1px solid #696969;
  border-top: 1px solid #f1f1f1;
  text-align: center; 
  margin-bottom: 10px;
  background: #6e7698;
  }
  
.logo {
  content: url(chrome-extension://__MSG_@@extension_id__/img/VTML_Logo.png);
  position: absolute;
  top: 6px;
  left: 40px;
  }​
  
#logozzz {
  width: 5%;
  top: 3px ;
  display: initial;
  }
  
#magnifier {
  width: 5%;
  top: 3px !important;
  display: initial !important;
  cursor: unset !important;
  }

.appleOddRow {
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #cdcdcd;
  text-align: center;    /* Mike Center Tiles */  
  border-left: 10px solid #8b000000;
  border-right: 5px solid #8b000000;
  }

.appleEvenRow {
  background: #EDEDED;
  border-top: 1px solid #f4f4f4;
  border-bottom: 1px solid #d4d4d4; }

#tabsSearch {
  display: block;
  width: 26em;
  height: 1.5em;
  margin: 0 auto;
  padding: 0px 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  border: 2px solid #8d8d8d00;
  box-shadow: 1px 5px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  outline: none;
}
  
  body.osx #tabsSearch {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 15px; 
	}
  
  #tabsSearch:focus {
    transition: all 2.5s;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    border-bottom-color: #0025ff;
    border-bottom-width: 3px;
	}

.searchWrapper {
  margin: 0 auto; }
  
#tabsPane {
    width: 100% !important;
    margin-top: 78px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #222;
    display: none;
    user-select: none;
    -webkit-user-select: none;
}

  body.osx #tabsPane {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 14px; }

.tabOuter {    
	width: 180px;           /* Espace horizontal entre les tiles */ 
    height: 140px; 	        /* Espace vertical entre les tiles */
    display: -webkit-inline-box;      /* -webkit-inline-box: Pour avoir les thumbs collé verticalement Ori: inline-block */
    }

.tabCapture {
    display: block;
    width: 170px;
    height: 130px;
    padding: 0px;
    margin: 0 auto;
    border-radius: 2px;
    background-color: #ffffffcf;
    box-shadow: 1px 5px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
    transition: box-shadow .25s;
    cursor: pointer;
}
 
 .tabCapture:hover{
    margin: 0 auto;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 -2px 20px 0 rgba(0,0,0,.19);
    z-index: 1;
	}   
	
  .tabThumb.tabHighlighted .tabCapture {
    margin: 0 auto;
    box-shadow: 0 0 14px 4px #242a90, inset 0px 0px 0px 0px #1235e000;
	}
	
	.tabCloseButton {          /* Mike */
    line-height: 13px;
    vertical-align: baseline;
    cursor: pointer;
    background: #f7f7f7;
    width: 12px;
    height: 12px;
    position: relative;
    top: -129px;
    margin-left: 3px;
    color: #000;
    display: inline-flex;
    border-radius: 2px;
    border: 1px solid #c7c6c6;
}
	
  .tabCloseButton::before {      
    content: "\2715";   /* X sign */
    margin-left: 1px;
	}
      
  .tabCloseButton:hover {
    background: #f9f9f9; 
    border: 1px solid #c7c6c6;
    color: #222;
    font-weight: 700;
    transition: all 0.9s ease-in-out 0.2s;
    transform: rotate(90deg) scale(1.8);
	}
    

.tabFooter {
  width: 0px;  /* mike */
  height: 0px;
 }

.tabIcon {
    width: 35px;
    height: 35px;
    top: -138px;
    float: left;
    position: relative;
    bottom: 119px;
    right: -67px;
    background-color: #ffffffde;
    padding: 1.9px;
    border-radius: 7px;
    cursor: pointer;
	pointer-events: none;   /* Permet de passer le hover à tabCapture */
}

.tabDescription {
    position: relative;
    top: -95px;
    right: 22px;
    color: #9d23e6;
    background: #cccaca00;
    width: 133px;
    height: 68px;
    font-family: "Segoe UI", Tahoma, sans-serif;
    font-size: 12.7px;
    text-align: center;
    word-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
	pointer-events: none;     /* Permet de passer le hover à tabCapture */
}

#url_title {
  color: #565555;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;  /* Mike To fix the number of lines displayed in a div - Only work with Chrome */
  line-height: 118%;
  }
  
#url_description {
  color: #5965c3;
  font-family: "Segoe UI", Tahoma, sans-serif;
  font-size: 13px;
  font-style: oblique;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 78%;
  }

#historyPane {
  margin: 1em auto;
  overflow-x: hidden;
  -webkit-mask-image: -webkit-linear-gradient(left, black 85%, rgba(0, 0, 0, 0) 100%); }
  body.osx #historyPane {
    font-family: 'Lucida Grande', sans-serif;
    font-size: 14px; }
  #historyPane h1 {
    font-size: 1.5em;
    margin: 0 0.5em 0 0;
    float: left;
    height: 10em;
    border-right: 1px solid #767676; }
  #historyPane a, #historyPane img {
    vertical-align: middle; }
  #historyPane img {
    margin-right: 0.3em; }
  #historyPane .historyItem {
    white-space: nowrap;
    height: 1.5em;
    margin-left: 50px; }
    #historyPane .historyItem a {
      text-decoration: none; }
    #historyPane .historyItem a, #historyPane .historyItem a:visited {
      color: black; }
    #historyPane .historyItem a.grey, #historyPane .historyItem a.grey:visited {
      color: #808080; }
  #historyPane .historyItem:hover {
    background: rgba(28, 85, 248, 0.2); }
    #historyPane .historyItem:hover a {
      text-decoration: underline; }

/* Menu */
menu {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 3px 0 4px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.35);
  border-radius: 4px;
  font-family: Arial;
  font-size: 14px;
  line-height: 15px;
  z-index: 2; }

menu::before {
  display: block;
  position: absolute;
  content: "";
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  z-index: -1; }

menu hr {
  border: none;
  height: 1px;
  background: rgba(0, 0, 0, 0.1);
  margin: 6px 1px 5px;
  padding: 0; }

menu menuitem {
  display: block;
  padding: 0 20px;
  border-top: 1px solid rgba(0, 0, 0, 0);
  border-bottom: 1px solid rgba(0, 0, 0, 0); }

menu menuitem::after {
  vertical-align: 2px;
  content: attr(label); }

menu menuitem:hover {
  background: -webkit-linear-gradient(top, #648bf5, #2866f2);
  background: linear-gradient(to bottom, #648bf5 0%, #2866f2 100%);
  border-top: 1px solid #5a82eb;
  border-bottom: 1px solid #1758e7; }

menu menuitem:hover::after {
  color: #fff; }
